* {
  cursor: url(https://cur.cursors-4u.net/anime/ani-1/ani195.ani),
    url(https://cur.cursors-4u.net/anime/ani-1/ani195.png), auto !important;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'S-CoreDream-3Light';
  line-height: 30px;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 45px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin: 0;
  padding: 20px;
}

ol {
  border-right: 1px solid gray;
  width: 100px;
  margin: 0;
  padding-top: 0;
}

#grid {
  display: grid;
  grid-template-columns: 150px 1fr;
}

#grid ol {
  padding-left: 33px;
}

#grid #article {
  padding-left: 25px;
}

@media (max-width: 800px) {
  #grid {
    display: block;
  }
  ol {
    border-right: none;
  }
  h1 {
    border-bottom: none;
  }
}

#link {
  color: hotpink;
  text-decoration: none;
  font-weight: bold;
}

li {
  margin: 10px;
}

h2 {
  display: inline-block;
  background: pink;
  margin-bottom: 0;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.btn-gradient {
  margin: 15px;
  text-decoration: none;
  color: white;
  font-size: 15px;
  padding: 10px 30px;
  display: inline-block;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.21);
  border-bottom: 4px solid rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}

.btn-gradient.purple {
  background: rgba(203, 153, 197, 1);
  background: -moz-linear-gradient(
    top,
    rgba(203, 153, 197, 1) 0%,
    rgba(181, 134, 176, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(203, 153, 197, 1)),
    color-stop(100%, rgba(181, 134, 176, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(203, 153, 197, 1) 0%,
    rgba(181, 134, 176, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(203, 153, 197, 1) 0%,
    rgba(181, 134, 176, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(203, 153, 197, 1) 0%,
    rgba(181, 134, 176, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(203, 153, 197, 1) 0%,
    rgba(181, 134, 176, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb99c5', endColorstr='#b586b0', GradientType=0 );
}

.btn-gradient.purple:active {
  background: #bd8eb7;
}
